/* RESET */
*,
*::before,
*::after {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

/* BODY */
body {
    font-family: "Times New Roman", Times, serif;
    background-color: #f5b7db;
}

/* NAVBAR */
.navbar {
    position: fixed;
    top: 0;
    /* FIX: dikit sa pinaka taas */
    left: 0;
    width: 100%;
    height: 60px;
    /* para consistent */
    background:  rgba(245, 243, 239, 0.5);
    color: white;
    z-index: 100;
}

.navbar-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 60px;
    padding: 0 20px;
}

.logo {
    padding-left: 120px;
    width: 160px;
}

/* MENU */
.menu-items {

    padding-right: 400px;
    display: flex;
    list-style: none;
    font-size: 20px;
    
}

.menu-items li {
    margin-left: 20px;
    font-family: "Times New Roman", Times, serif;
}

.navbar a {
    color: white;
    text-decoration: none;
}

.navbar a:hover {
    color: #5e114b;
}

/* PROFILE CONTAINER */
.profile-container {
       background: rgba(245, 243, 239, 0.5);
    width: 550px;
    margin: 0 auto;
    /* remove yung 100px */
    margin-top: 100px;
    /* spacing below navbar */
    padding: 20px;
    /* FIXED padding */
    text-align: center;
    border-radius: 1cm;
    
}

/* PROFILE IMAGE */
.profile-img {
    width: 200px;
    height: 200px;
    border-radius: 50%;
    border: 4px solid #eb7bc9;
    object-fit: cover;
}

/* NAME */
h1 {
    margin-top: 15px;
    color: #eb7bc9;
    font-size: 26px;
}

/* SUBTITLE */
.subtitle {
    font-size: 20px;
    letter-spacing: 1px;
    color: #336829;
    margin-bottom: 20px;
}

/* INFO */
.info {
    text-align: left;
}

.info p {
    background: #ffffff;
    padding: 10px;
    border-radius: 8px;
    margin: 12px 0;
    display: flex;
    justify-content: space-between;
}

.info strong {
    color: #f18dd3;
}

/* | */
.vorderch{
    padding-left: 20px;
    padding-right: 20px;
}